.project {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project__container {
  background-color: var(--color-blue);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.project__container:hover {
  background-color: var(--color-pink);
}

.project__link {
  text-decoration: none;
  color: #000;
}

.project__image {
  width: 100%;
}

.project__info {
  padding: 0.9rem 1.5rem;
}

.project__title {
  font-size: 18px;
  margin-bottom: 0.25rem;
}

.project__github {
  font-size: 1em;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 800px) {
  .project__info {
    padding: 0.75rem;
  }

  .project__title {
    font-size: 14px;
    margin-bottom: 0.05rem;
  }

  .project__github {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .project__github {
    font-size: 10px;
  }

  .project__title {
    font-size: 12px;
    margin-bottom: 0.05rem;
  }
}
