.about {
  font-family: var(--font-family);
}

.about__paragraph {
  max-width: 900px;
  margin-bottom: 1.5rem;
  font-size: 16px;
}

.about__skills-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  font-size: 15px;
}

.about__heading {
  color: #fff;
  background-color: #444;
  padding: 0.4rem 0.6rem;
  margin-right: 1rem;
  margin-bottom: 0.8rem;
}

.about__skills-item {
  background-color: var(--color-pink);
  padding: 0.4rem 0.6rem;
  margin-right: 1rem;
  margin-bottom: 0.8rem;
}

.about__tools-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  font-size: 15px;
  margin-bottom: 0.8rem;
}

.about__tools-item {
  background-color: var(--color-blue);
  padding: 0.4rem 0.6rem;
  margin-right: 1rem;
  margin-bottom: 0.8rem;
}

.about__bottom-border {
  border-bottom: 4px solid black;
}

.privacy-policy__back-link {
  font-size: 26px;
  font-weight: 700;
  color: violet;
}

@media screen and (max-width: 800px) {
  .about__paragraph {
    font-size: 12px;
  }
  .about__paragraph {
    margin-bottom: 1rem;
  }

  .about__heading {
    font-size: 12px;
    padding: 0.2rem 0.5rem;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
  }

  .about__skills-item {
    padding: 0.2rem 0.5rem;
    margin-right: 0.6rem;
    font-size: 12px;
    margin-bottom: 0.6rem;
  }

  .about__tools-item {
    padding: 0.2rem 0.5rem;
    font-size: 12px;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
  }
}

@media screen and (max-width: 550px) {
  .about__heading {
    font-size: 10px;
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .about__skills-item {
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
    font-size: 10px;
    margin-bottom: 0.5rem;
  }

  .about__tools-item {
    padding: 0.3rem 0.5rem;
    font-size: 10px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
